
.header {
    font-size: 20px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--body-color);
   
}

.nav {
    height: calc(var(--header-height) + 1.5rem);
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 1rem;
}

.nav__logo {
    width: 90px;
    height: 90px;
}

.nav__logo,
.nav__toggle {
    font-weight: var(--font-medium);
    color: #ffff;
}

.nav__list {
    display:flex;
    column-gap: 2rem;
    
}

.nav__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--small-font-size);
    color: var(--title-color);
    font-weight:var(--font-medium);
    padding: 0.5rem 1rem;
    color: #ffff;
}


.nav__icon,
.nav__close,
.nav__toggle {
    display: none;
}


.nav_headmenu {
    display: flex;
    margin-left: 42px;
}

/* Active link */
.active-link,
.nav__link:hover {
    border-radius: 2rem ;
    padding: 0.5rem 1rem;
    font-weight: 500;
}

.active-link{
    color: #ffff;
    background-color: #6869D1;
    border: 1px solid #6869D1;
}

.nav__link:hover {
    border: 1px solid #6869D1;
    background-color: #686ad136;
}

/* Breakpotnts */
@media screen and (max-width: 768px) {
    .header {
        top: 0;
        bottom: initial;
    }

    .nav {
        height: var(--header-height);
    }

    .nav__menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: var(--body-color);
        padding: 2rem 1.5rem 4rem;
        box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
        border-radius: 0 0 1.5rem 1.5rem ;
        transition: .3s;
    }

    /* Show Menu */
    .show-menu {
        top: 0;
    } 

    .nav__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    } 

    .nav__icon {
        font-size: 1.2rem;
    }

    .nav__close {
        position: absolute;
        right: 1.3rem;
        bottom: .5rem;
        font-size: 1.5rem;
        cursor: pointer;  
        color: var(--title-color);     
    }
   
    .nav__close:hover {
        color: var(--title-color-dark);

    }

    .nav__icon,
    .nav__close,
    .nav__toggle {
        display: block;
    }

}

/* For small devices */

@media screen and (max-width: 768px) {
    .nav__list {
      margin-top: 5rem;
    }
    
    .nav__link {
        padding: 1.5rem 1rem;
    }

    .active-link{
        background-color: transparent;
        border: none;
    }
    .nav__link:hover {
        border-radius: 1rem ;
        padding: 1.5rem 1rem;
    }
    

   
}


@media screen and (max-width: 350px) {
    .nav__menu {
        padding: 2rem 0.25rem 4rem;
    }

    .nav__link {
        column-gap: 0;
    }

}

